{% extends 'base.html.twig' %}

{% block title %}Se connecter !{% endblock %}

{% block body %}
    <div class="container d-flex flex-column justify-content-center" style="height: 95vh;">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12">
                <div class="card">
                    <div class="card-header text-center pt-3 pb-4">
                        <figure><img src="{{ asset('Logos/Web/SVG/Negatif/PaxTech-Horizontal-Negatif[Cropped].svg') }}" height="100"></figure>

                    </div>
                    <div class="card-body">
                        <form method="post">
                            <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a
                                            href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email</label>
                                <input type="email" value="{{ last_username }}" name="_username" id="inputEmail"
                                       class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Mot de passe</label>
                                <input type="password" name="_password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="mb-3 form-check">
                                <input type="checkbox" name="_remember_me" class="form-check-input"
                                       id="rememberMeCheck">
                                <label class="form-check-label" for="rememberMeCheck">Se souvenir de moi</label>
                            </div>

                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Se connecter</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
{#                        <div class="small"><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>#}
                        </div>
                    </div>
                </div>
            </div>


    </div>
    <footer class="bg-light text-center text-lg-start" style="height: 5vh">
        <div class="text-center p-4" style="background-color: #0a0a0a">
            Copyright &copy; {{ "now"|date("Y") }}. All right reserved by Pax Technologies
        </div>
    </footer>

{% endblock %}